.home_outer {
	display: none;
}

.other_paths_outer {
	padding-top: 5.7rem;
	padding-bottom: 5.7rem;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #1a1a1a;
}
.links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical_line {
	margin: auto 3.1rem;
	width: 0.2rem;
	height: 1.7rem;
	opacity: 0.55;
	background-color: #d9d9d9;
}

.link_text {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 4.4rem;
	color: #d9d9d9;
}
.link_text:hover {
	transition: 0.2s;
	color: #ececec;
}

.email {
	margin-top: 3.2rem;
	text-align: center;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.9rem;
	color: #b2b2b2;
}

.copyright {
	margin-top: 3.2rem;
	text-align: center;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.9rem;
	color: #b2b2b2;
}
@media screen and (max-width: 486px) {
	.vertical_line {
		margin: auto 1.8rem;
	}
}
@media screen and (max-width: 351px) {
	.vertical_line {
		margin: auto 1.5rem;
	}
}
