html,
body {
	font-size: 62.5% !important;
	font-family: "AppleSDGothicNeo";
	word-break: keep-all;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-o-text-size-adjust: none;
	overflow-x: hidden;
}
